::-webkit-scrollbar-thumb {
    background: rgba(152, 155, 156, 0.68);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -o-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    background-color: rgba(108, 110, 111, 0.68);
}

::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background: #dde1e2;
}

::-webkit-scrollbar:hover {
    background: #d2d5d6;
}

body {
}

.hide {
  display: none;
}

.show {
  display: none;
}

.book {
  position: relative;
  display: none;
  width: 100%;
}

.book .navbar {
    margin-bottom: 0;
}

.navbar p.site-des {
  font-size: small;
  font-style: italic;
  color: #cdcdcd;
}

#doc-url {
  /*font-size: 18px;*/
  /*color: #666;*/
}

#sidebar-box {
  position: fixed;
  top: 70px;
  left: -300px;
  z-index: 2;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

#search-box {
  position: sticky;
  top: 0;
  background-color: rgba(245, 245, 245, 0.9);
  padding: 15px 15px 0;
  border-bottom: 1px solid #bbb;
}

#clear-search-input {
  color: #999;
  pointer-events: initial;
}

.with-sidebar #sidebar-box{
  left: 0;
}
.with-sidebar #content-box{
  left: 300px;
}
.with-sidebar #sidebar-ctrl{
  left: 300px;
}

@media (max-width: 1500px) {
  .with-sidebar .container{
    width: 990px;
  }
}

@media (max-width: 992px) {
  #sidebar-box {
    width: 260px;
    left: -260px;
  }
  .with-sidebar #content-box{
    left: 260px;
  }
  .with-sidebar #sidebar-ctrl{
    left: 260px;
  }
}

@media (max-width: 769px) {
  #content-toc-box {
    display: none;
  }
}

#sidebar {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    background-color: #fdfdfd;
}

#sidebar-refresh-btn{
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 2;
  display: none;
  width: 20px;
  height: 20px;
  color: #888;
  padding: 3px;
}
#sidebar-refresh-btn:hover, #sidebar-refresh-btn:focus {
  color: #2196f3;
}
#sidebar-box:hover #sidebar-refresh-btn{
  display: block;
}

#sidebar h1 {
    font-size: 24px;
    margin: 10px 0;
}
#sidebar ul{
  padding-left: 12px;
  margin-bottom: 0;
  list-style: none;
}
#sidebar a {
  display: block;
  padding-left: 10px;
  color: #666;
}
/*#sidebar a:visited {
  color: #aaa;
}*/
#sidebar a.active{
  border-left: 3px solid #2196F3;
  background-color: #f5f5f5;
  color: #2196F3;
}
#sidebar .catelog>ul>li>a{
  font-weight: bold;
}
#sidebar .search-matched {
  font-weight: 100;
  font-size: 10px;
  color: #4caf50;
}
#sidebar-ctrl {
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 40%;
  height: 50px;
  width: 18px;
  padding-top: 14px;
  padding-left: 2px;
  background-color: rgba(221, 221, 221, 0.8);
  border-radius: 0 6px 6px 0;
  z-index: 10;
  box-shadow: 1px 0 0 #ddd;
  /*border: 1px solid #cdcdcd;*/
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

#content-box {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 2;
  bottom: 0;
  overflow-y: auto;
  padding-top: 15px;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  max-width: 1200px;
  min-width: 350px; */
}

.content-bar {
  padding: 8px 5px;
  border-bottom: 1px solid #efefef;
}
.content-bar p {
  margin: 0;
}
#content-toc-box {
  position: fixed;
  top: 150px;
  right: 10px;
  display: none;
  min-width: 120px;
  max-width: 200px;
  max-height: 400px;
  overflow-y: auto;

  background-color: #f4f4f4;
  border: 1px solid #cdcdcd;
  box-shadow: 0 0 3px #dedede;
}

#content-toc-box .title{
  font-weight: bold;
  position: sticky;
  top: 0;
  padding: 5px;
  color: #666;
  background-color: #dedede;
}
#content-toc {
  padding: 5px 5px 10px;
}

#content {
  min-height: 350px;
  padding-bottom: 15px;
}

#content .content-htag {
  /*position: -webkit-sticky;
  position: sticky;
  top: 0;*/
}

.page-footer {
  border-top: 1px solid #dedede;
  padding: 25px;
  color: #aaa;
}
.page-footer .qq-group {
  position: relative;
  padding: 10px 15px;
  display: block;
}
.info-box {
  padding: 15px;
}
.info-box .info-item {
  display: inline-block;
  margin-right: 10px;
}

#back-to-top {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 40px;
  right: 15px;
  text-decoration: none;
  font-size: 20px;
  opacity: .5;
  line-height: 1;
}

#back-to-top:hover {
  opacity: .9;
}

#loading-layer {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  display: none;
  font-size: 18px;
}

#loading-layer div.loading {
  width: 70px;
  height: 50px;
  margin: 35% auto 0;
}

@media (min-width: 992px) {
  #loading-layer div.loading {
    margin-top: 30%;
  }
}

@media (min-width: 1199px) {
  #loading-layer div.loading {
    margin-top: 20%;
  }
}

.content-htag:hover .anchor-link {
  opacity: 1 !important;
}

.anchor-link {
  line-height: 2rem;
  font-style: italic;
  opacity: 0;
  transition: all 1.2s;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.anchor-link:hover, .anchor-link:focus {
  text-decoration: none;
}

[data-anchor-icon]::after {
    content: attr(data-anchor-icon);
}
